[Unit]
Description=OWASP ZAP Proxy
After=network.target

[Service]
Type=simple
User=kali
Group=kali
ExecStart=/usr/share/zaproxy/zap.sh -daemon -port 8080 -config api.key=monapikey
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
